@media only screen and (max-width:1366px) {
    .head-area {
        width: fit-content;
    }
    .head-details {
        width: fit-content;
    }
    .product-1 {
        width: -webkit-fill-available;
    }
    .signUp{
        width: fit-content;
    }
    .bonner{
        width: 1100px ;
      }
      .carousel-slide{
        margin-right: 30px;
        width: 220px;
      }
      .carousel-slides img {
        width: 130px;
    }
}


@media only screen and (max-width:912px) {
  .bonner{
    width: 720px;
  }
  .carousel-slide{
    margin-right: 60px;
    width: 280px;
  }
  .signup-page h3, .products-container h2 {
   text-align: center;
}

}


@media only screen and (max-width:766px) {
    body {
        background-color: rgb(255, 255, 255);
    }
    .nav {
        display: none;
    }
    .links span {
        display: block;
        font-size: 50px;
        margin-top: 10px;
        color: var(--purple);
    }
    #x-bar {
        display: none;
    }

    .bonner{
        width: 600px;
      }
      .carousel-slide{
        margin-right: 60px;
        width: 230px;
      }
      .head-details{
        width: 200px;
        height: -webkit-fill-available;
    }
    .head-details hr {
     display: none;
    }  
    .product-1{
        margin: 50px;
    } 
    .search-area{
        margin-top: -100px;
        width: fit-content;
        margin-left: -100px;
    }   
    .in-cart{
        width: -webkit-fill-available;
       }
       #cart-items{
        width: fit-content;
       }
       
}





@media only screen and (max-width:499px) {
    body {
        background-color: rgb(255, 255, 255);
    }

    .bonner{
        width: 350px;
      }
      .carousel-slide{
        margin-right: 80px;
        width: 250px;
      }

      .head-details{
        width:auto;
       
    }
    .head-details hr {
     display: none;
    }  
    .product-1{
        margin: 50px;
    }    
 
    .search-area{
        margin-top: -100px;
        width: fit-content;
        margin-left: -100px;
    }

    .search-area input {
        margin-left: -180px;
    }

    .head-details h2 {
        margin-left: -330px;
        margin-top: 31px;
        width:300px;
       } 
       .head-details button{
        margin-left: -380px;
        margin-top: 10px;
       }
    .social-icon{
        margin-left: -350px;
       }

       .in-cart{
        width: -webkit-fill-available;
       }
       #cart-items{
        width: fit-content;
       }
       .form input {
        width: auto;
    }
    .signUp{
        margin:auto;
    }
#message{
    width: -webkit-fill-available;
}
.foot-img1, .foot-img3, .foot-img4 {
    width: 100px;
    gap: 10px;
}
.foot-img2{
    width: 100px; 
    height: 125px;
}
.grid-area{
    margin: 10px;
}
#toTop{
    margin-bottom: -25px;
    padding:5px;
}
}